In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
X = pd.read_csv(r"C:\Users\Akhila\Desktop\mini project\dengue_features_train.csv")
y = pd.read_csv(r"C:\Users\Akhila\Desktop\mini project\dengue_labels_train.csv")
temperature_kelvin_columns = [i for i in X.columns if i.find('_temp_k') > -1]
for i in temperature_kelvin_columns:
    X[i] = X[i] - 273.15
# Changing the column names from _temp_k to _temp_c
X.columns = [i.replace('_temp_k', '_temp_c') 
                           for i in X.columns if i.find('_temp_k')]
X.fillna(method='ffill',inplace=True)
def extract_month(s):
    return int(s[5:7])
def pre_process(X, train = True):
    months = X.week_start_date.apply(extract_month)
    X.drop(['year', 'weekofyear', 'week_start_date'], axis=1, inplace=True)
    sliced_months = months.loc[X.index]
    #month_features = pd.get_dummies(sliced_months)
    #X = X.join(month_features)
    X = X.join(sliced_months)
    
    return X
X = pre_process(X)
X=X.iloc[:,4:]
y = y.total_cases.loc[X.index]
y=y.values

In [2]:

def cor_selector(X, y,num_feats):
    cor_list = []
    feature_name = X.columns.tolist()
    # calculate the correlation with y for each feature
    for i in X.columns.tolist():
        cor = np.corrcoef(X[i], y)[0, 1]
        cor_list.append(cor)
    # replace NaN with 0
    cor_list = [0 if np.isnan(i) else i for i in cor_list]
    # feature name
    cor_feature = X.iloc[:,np.argsort(np.abs(cor_list))[-num_feats:]].columns.tolist()
    # feature selection? 0 for not select, 1 for select
    cor_support = [True if i in cor_feature else False for i in feature_name]
    return cor_support, cor_feature
cor_support, cor_feature = cor_selector(X, y,num_feats=12)
print(cor_feature)

['station_avg_temp_c', 'reanalysis_specific_humidity_g_per_kg', 'reanalysis_relative_humidity_percent', 'reanalysis_dew_point_temp_c', 'reanalysis_avg_temp_c', 'reanalysis_max_air_temp_c', 'station_diur_temp_rng_c', 'reanalysis_air_temp_c', 'station_min_temp_c', 'reanalysis_tdtr_k', 'reanalysis_min_air_temp_c', 'week_start_date']

In [3]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import Ridge,Lasso
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
# create a base classifier used to evaluate a subset of attributes
model = RandomForestRegressor()

# create the RFE model and select n attributes
rfe = RFE(model, 8)
rfe = rfe.fit(X, y)
X_Select = X.loc[:, rfe.support_]
print(X_Select.columns)
X_select=X[X_Select.columns]
X_train, X_test= X_select[:int(len(y)*0.8)], X_select[:int(len(y)*0.8)]
Y_train, Y_test = y[:int(len(y)*0.8)], y[:int(len(y)*0.8)]

model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)

print(mean_absolute_error(Y_test, Y_pred))
print(mean_squared_error(Y_test, Y_pred))
print(float(format(np.sqrt(mean_squared_error(Y_test, Y_pred)))))
"""import matplotlib.pyplot as plt
plt.plot(Y_test)
plt.plot(Y_pred,color='green')"""

C:\Users\Akhila\anaconda3\lib\site-packages\sklearn\utils\validation.py:68: FutureWarning: Pass n_features_to_select=8 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

Index(['reanalysis_air_temp_c', 'reanalysis_max_air_temp_c',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_precip_mm', 'week_start_date'],
      dtype='object')
7.8621281500572735
253.84703019329268
15.932577638075161

"import matplotlib.pyplot as plt\nplt.plot(Y_test)\nplt.plot(Y_pred,color='green')"

In [4]:
from sklearn.metrics import r2_score
r2_score(Y_test,Y_pred)

0.887840619041984

In [5]:
lst=[] 
for i in cor_feature:
    if i in X_Select.columns:
        lst.append(i)

In [6]:
len(lst)

6

In [7]:
lst

['reanalysis_specific_humidity_g_per_kg',
 'reanalysis_relative_humidity_percent',
 'reanalysis_max_air_temp_c',
 'reanalysis_air_temp_c',
 'reanalysis_tdtr_k',
 'week_start_date']

In [8]:
lst=['reanalysis_air_temp_c','station_avg_temp_c','reanalysis_dew_point_temp_c','reanalysis_relative_humidity_percent',
     'reanalysis_max_air_temp_c','reanalysis_tdtr_k','reanalysis_min_air_temp_c', 'week_start_date'
 ]

In [9]:
len(lst)

8

In [10]:
X = X[lst]

In [11]:
X

,reanalysis_air_temp_c,station_avg_temp_c,reanalysis_dew_point_temp_c,reanalysis_relative_humidity_percent,reanalysis_max_air_temp_c,reanalysis_tdtr_k,reanalysis_min_air_temp_c,week_start_date
0,24.422857,25.442857,19.264286,73.365714,26.65,2.628571,22.75,-1
1,25.061429,26.714286,20.801429,77.368571,27.75,2.371429,23.25,-1
2,25.631429,26.714286,22.284286,82.052857,27.35,2.300000,24.15,-1
3,25.837143,27.471429,22.160000,80.337143,28.25,2.428571,23.85,-1
4,26.368571,28.942857,22.671429,80.460000,28.75,3.014286,24.35,-1
...,...,...,...,...,...,...,...,...
1451,26.184286,28.633333,23.675714,88.765714,36.55,9.800000,21.35,-2
1452,25.180000,27.433333,23.302857,91.600000,35.35,7.471429,18.75,-2
1453,23.448571,24.400000,22.351429,94.280000,32.35,7.500000,19.25,-2
1454,23.195714,25.433333,22.174286,94.660000,32.95,7.871429,18.75,-2
1455,24.947143,27.475000,22.657143,89.082857,34.65,11.014286,19.15,-2

In [12]:
X_train, X_test= X_Select[:int(len(y)*0.8)], X_select[:int(len(y)*0.8)]
Y_train, Y_test = y[:int(len(y)*0.8)], y[:int(len(y)*0.8)]

In [13]:
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor,BaggingRegressor
d = SVR()
d.fit(X_train, Y_train)
y_svr_pred = d.predict(X_test)
print(mean_absolute_error(Y_test, y_svr_pred))
print(float(format(np.sqrt(mean_squared_error(Y_test, y_svr_pred)))))

21.54790453330634
48.91851185598722

In [14]:
from sklearn.metrics import r2_score
r2_score(Y_test,y_svr_pred)

-0.05732862657688842

In [15]:
from sklearn.neighbors import KNeighborsRegressor
dg_knn = KNeighborsRegressor()
dg_knn.fit(X_train, Y_train)
y_knn_pred = dg_knn.predict(X_test)
print(mean_absolute_error(Y_test, y_knn_pred))
print(float(format(np.sqrt(mean_squared_error(Y_test, y_knn_pred)))))

22.192439862542955
41.241398145094436

In [16]:
from sklearn.metrics import r2_score
r2_score(Y_test,y_knn_pred)

0.24849776430122628

In [17]:
from sklearn.tree import DecisionTreeRegressor
dg =  DecisionTreeRegressor()
dg.fit(X_train, Y_train)
y_dg_pred = dg.predict(X_test)
print(mean_absolute_error(Y_test, y_dg_pred))
print(float(format(np.sqrt(mean_squared_error(Y_test, y_dg_pred)))))

0.03006872852233677
0.3411875359797069

In [18]:
Y_test

array([ 4,  5,  4, ...,  6, 22, 37], dtype=int64)

In [19]:
y_dg_pred

array([ 4.,  5.,  4., ...,  6., 22., 37.])

In [20]:
from sklearn.metrics import r2_score
r2_score(Y_test,y_dg_pred)

0.9999485660555301

In [21]:
X_tes = pd.read_csv(r"C:\Users\Akhila\Desktop\mini project\dengue_features_test.csv")
temperature_kelvin_columns = [i for i in X_tes.columns if i.find('_temp_k') > -1]
for i in temperature_kelvin_columns:
    X_tes[i] = X_tes[i] - 273.15
# Changing the column names from _temp_k to _temp_c
X_tes.columns = [i.replace('_temp_k', '_temp_c') 
                           for i in X_tes.columns if i.find('_temp_k')]
X_tes = pre_process(X_tes)
X_tes=X_tes[lst]
X_tes.fillna(X_tes.mean(),inplace=True)
final_pred=dg.predict(X_tes)
final_pred=np.round(final_pred)
sub=pd.read_csv(r"C:\Users\Akhila\Desktop\mini project\submission_format.csv")
sub['total_cases']=final_pred

In [22]:
sub['total_cases']=sub['total_cases'].astype('int64')
sub.to_csv(r'C:\Users\Akhila\Desktop\mini project\submission_format.csv', index = False)

In [23]:
sub

    city  year  weekofyear  total_cases
0     sj  2008          18           37
1     sj  2008          19           37
2     sj  2008          20           21
3     sj  2008          21           21
4     sj  2008          22           65
..   ...   ...         ...          ...
411   iq  2013          22           21
412   iq  2013          23           21
413   iq  2013          24           21
414   iq  2013          25           21
415   iq  2013          26           21

[416 rows x 4 columns]

In [24]:
bg = RandomForestRegressor()
bg.fit(X_train, Y_train)
y_bg_pred = bg.predict(X_test)
print(mean_absolute_error(Y_test, y_bg_pred))
print(float(format(np.sqrt(mean_squared_error(Y_test, y_bg_pred)))))

8.207671698576338
17.10549400129514

In [25]:
from sklearn.metrics import r2_score
r2_score(Y_test,y_bg_pred)

0.8707189833350031

In [26]:
X_tes = pd.read_csv(r"C:\Users\Akhila\Desktop\mini project\dengue_features_test.csv")
temperature_kelvin_columns = [i for i in X_tes.columns if i.find('_temp_k') > -1]
for i in temperature_kelvin_columns:
    X_tes[i] = X_tes[i] - 273.15
# Changing the column names from _temp_k to _temp_c
X_tes.columns = [i.replace('_temp_k', '_temp_c') 
                           for i in X_tes.columns if i.find('_temp_k')]
X_tes = pre_process(X_tes)
X_tes=X_tes[lst]
X_tes.fillna(X_tes.mean(),inplace=True)
final_pred=dg.predict(X_tes)
final_pred=np.round(final_pred)
sub=pd.read_csv(r"C:\Users\Akhila\Desktop\mini project\submission_format.csv")
sub['total_cases']=final_pred

In [27]:
sub['total_cases']=sub['total_cases'].astype('int64')
sub.to_csv(r'C:\Users\Akhila\Desktop\mini project\submission_format.csv', index = False)

In [28]:
sub

    city  year  weekofyear  total_cases
0     sj  2008          18           37
1     sj  2008          19           37
2     sj  2008          20           21
3     sj  2008          21           21
4     sj  2008          22           65
..   ...   ...         ...          ...
411   iq  2013          22           21
412   iq  2013          23           21
413   iq  2013          24           21
414   iq  2013          25           21
415   iq  2013          26           21

[416 rows x 4 columns]